!!!
.container-fluid
  %div.col-md-12{:id => "tabs"}
  #body

!= js :jquery
!= js :react
!= js :babel
%script{:type => "text/babel", :src => "jsx/database_url.jsx"}
%script{:type => "text/babel", :src => "jsx/supportconfig.jsx"}
%script{:type => "text/babel", :src => "jsx/tabs.jsx"}
%script{:type => "text/babel", :src => "jsx/index.jsx"}
%script{:type => "text/babel", :src => "jsx/main.jsx"}
!= js :bootstrap
!= js :bootstrap_table
